{% extends 'base.html' %}

{% block title %}{% block header %} Update Your Profile {% endblock %}{% endblock %}

{% block content %}
<h2>Edit your information here</h2>
<form action="{% url 'customers:edit' %}" method="post">
    {% csrf_token %}
    <p>Would you like to update your weekly pickup day?</p>
    weekly_pickup_day = <input type="text" name="weekly_pickup_day" id="weekly_pickup_day" value="{{logged_in_customer.weekly_pickup_day}}"><br /> 
    <p>Would you like to update your basic account info?</p>
    Name:<input type= "text" name="name" id="name" value='{{logged_in_customer.name}}'><br />
    Address: <input type="text" name="address" id="address" value='{{logged_in_customer.address}}'><br />
    zip_code = <input type="text" name="zip_code" id="zip_code" value='{{logged_in_customer.zip_code}}'><br />
    <input type="submit" value="Update">
</form>
{% endblock %}